@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ProductDescriptionDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Description" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Model!.Description" class="control-label" for="@Model!.HtmlId(nameof(ProductDescriptionDataModel.Description))"></label>
        <input asp-for="Model!.Description" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.Description))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.Description))" data-nt-value="@Model!.Model!.Description"/>
        <span asp-validation-for="Model!.Description" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDescriptionDataModel.Description))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ModifiedDate))"></label>
        <input asp-for="Model!.ModifiedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(ProductDescriptionDataModel.ModifiedDate))" name="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
        <span asp-validation-for="Model!.ModifiedDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(ProductDescriptionDataModel.ModifiedDate))"></span>
    </div>
}
