@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<BuildVersionDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="hidden-modal-title" value="@Model!.Model!.Database_Version" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Model!.Database_Version" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.Database_Version))"></label>
        <input asp-for="Model!.Database_Version" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(BuildVersionDataModel.Database_Version))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.Database_Version))" data-nt-value="@Model!.Model!.Database_Version"/>
        <span asp-validation-for="Model!.Database_Version" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(BuildVersionDataModel.Database_Version))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.VersionDate" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.VersionDate))"></label>
        <input asp-for="Model!.VersionDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(BuildVersionDataModel.VersionDate))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.VersionDate))" data-nt-value="@Model!.Model!.VersionDate"/>
        <span asp-validation-for="Model!.VersionDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(BuildVersionDataModel.VersionDate))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.ModifiedDate))"></label>
        <input asp-for="Model!.ModifiedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(BuildVersionDataModel.ModifiedDate))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
        <span asp-validation-for="Model!.ModifiedDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(BuildVersionDataModel.ModifiedDate))"></span>
    </div>
}
