@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<BuildVersionDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Database_Version" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.SystemInformationID" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.SystemInformationID))"></label>
        <input asp-for="Model!.SystemInformationID" readonly class="form-control " id="@Model!.HtmlId(nameof(BuildVersionDataModel.SystemInformationID))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.SystemInformationID))" data-nt-value="@Model!.Model!.SystemInformationID"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Database_Version" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.Database_Version))"></label>
        <input asp-for="Model!.Database_Version" readonly class="form-control " id="@Model!.HtmlId(nameof(BuildVersionDataModel.Database_Version))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.Database_Version))" data-nt-value="@Model!.Model!.Database_Version"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.VersionDate" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.VersionDate))"></label>
        <input asp-for="Model!.VersionDate" readonly class="form-control " id="@Model!.HtmlId(nameof(BuildVersionDataModel.VersionDate))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.VersionDate))" data-nt-value="@Model!.Model!.VersionDate"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(BuildVersionDataModel.ModifiedDate))"></label>
        <input asp-for="Model!.ModifiedDate" readonly class="form-control " id="@Model!.HtmlId(nameof(BuildVersionDataModel.ModifiedDate))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
    </div>
}
