@using Framework.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<BuildVersionDataModel>
@inject IUIStrings localizor;
@if (Model!.UIItemFeatures.ShowItemButtons)
{
    <td class="p-0" style="width: 1% !important;">
    </td>
}
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.SystemInformationID)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.Database_Version)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.VersionDate)
</td>
<td class="pt-0 pb-0">
    @Html.DisplayFor(m=>m.Model!.ModifiedDate)
</td>
@if (Model!.UIItemFeatures.ShowItemUIStatus)
{
    <td class="form-group nt-item-status text-center" style="width: 1% !important;">
        @if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.NoChange)
        {
                <i class="fa-solid fa-circle-notch text-success"></i>
        }
        else if (Model!.Model!.ItemUIStatus______ == ItemUIStatus.Updated) // Usually: will be changed by JQuery
        {
                <i class="fa-solid fa-circle text-danger"></i>
        }
        else // ItemUIStatus.New
        {
                    <i class="fa-solid fa-circle text-danger"></i>
        }
        <input asp-for="Model!.ItemUIStatus______" class="form-control" data-nt-value="@Model!.Model!.ItemUIStatus______" id="@Model!.HtmlId(nameof(BuildVersionDataModel.ItemUIStatus______))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.ItemUIStatus______))" type="hidden" />
    </td>
}
@if (Model!.UIItemFeatures.ShowEditableListDeleteSelect)
{
    <td class="form-group nt-editablelist-delete-select text-center" style="width: 1% !important;">
        <input asp-for="Model!.IsDeleted______" class="form-check-input nt-form-check ms-1" type="checkbox"  id="@Model!.HtmlId(nameof(BuildVersionDataModel.IsDeleted______))" name="@Model!.HtmlName(nameof(BuildVersionDataModel.IsDeleted______))" data-nt-value="@Model!.Model!.IsDeleted______"/>
    </td>
}
