@using Framework.Common;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<CustomerDataModel>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Title" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Model!.NameStyle" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.NameStyle))"></label>
        <input asp-for="Model!.NameStyle" type="checkbox" class="form-check-input nt-form-check ms-1" id="@Model!.HtmlId(nameof(CustomerDataModel.NameStyle))" name="@Model!.HtmlName(nameof(CustomerDataModel.NameStyle))" data-nt-value="@Model!.Model!.NameStyle"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Title" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.Title))"></label>
        <input asp-for="Model!.Title" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.Title))" name="@Model!.HtmlName(nameof(CustomerDataModel.Title))" data-nt-value="@Model!.Model!.Title"/>
        <span asp-validation-for="Model!.Title" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.Title))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.FirstName" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.FirstName))"></label>
        <input asp-for="Model!.FirstName" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.FirstName))" name="@Model!.HtmlName(nameof(CustomerDataModel.FirstName))" data-nt-value="@Model!.Model!.FirstName"/>
        <span asp-validation-for="Model!.FirstName" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.FirstName))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.MiddleName" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.MiddleName))"></label>
        <input asp-for="Model!.MiddleName" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.MiddleName))" name="@Model!.HtmlName(nameof(CustomerDataModel.MiddleName))" data-nt-value="@Model!.Model!.MiddleName"/>
        <span asp-validation-for="Model!.MiddleName" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.MiddleName))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.LastName" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.LastName))"></label>
        <input asp-for="Model!.LastName" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.LastName))" name="@Model!.HtmlName(nameof(CustomerDataModel.LastName))" data-nt-value="@Model!.Model!.LastName"/>
        <span asp-validation-for="Model!.LastName" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.LastName))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Suffix" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.Suffix))"></label>
        <input asp-for="Model!.Suffix" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.Suffix))" name="@Model!.HtmlName(nameof(CustomerDataModel.Suffix))" data-nt-value="@Model!.Model!.Suffix"/>
        <span asp-validation-for="Model!.Suffix" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.Suffix))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.CompanyName" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.CompanyName))"></label>
        <input asp-for="Model!.CompanyName" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.CompanyName))" name="@Model!.HtmlName(nameof(CustomerDataModel.CompanyName))" data-nt-value="@Model!.Model!.CompanyName"/>
        <span asp-validation-for="Model!.CompanyName" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.CompanyName))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.SalesPerson" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.SalesPerson))"></label>
        <input asp-for="Model!.SalesPerson" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.SalesPerson))" name="@Model!.HtmlName(nameof(CustomerDataModel.SalesPerson))" data-nt-value="@Model!.Model!.SalesPerson"/>
        <span asp-validation-for="Model!.SalesPerson" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.SalesPerson))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.EmailAddress" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.EmailAddress))"></label>
        <input asp-for="Model!.EmailAddress" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.EmailAddress))" name="@Model!.HtmlName(nameof(CustomerDataModel.EmailAddress))" data-nt-value="@Model!.Model!.EmailAddress"/>
        <span asp-validation-for="Model!.EmailAddress" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.EmailAddress))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Phone" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.Phone))"></label>
        <input asp-for="Model!.Phone" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.Phone))" name="@Model!.HtmlName(nameof(CustomerDataModel.Phone))" data-nt-value="@Model!.Model!.Phone"/>
        <span asp-validation-for="Model!.Phone" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.Phone))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.PasswordHash" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.PasswordHash))"></label>
        <input asp-for="Model!.PasswordHash" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.PasswordHash))" name="@Model!.HtmlName(nameof(CustomerDataModel.PasswordHash))" data-nt-value="@Model!.Model!.PasswordHash"/>
        <span asp-validation-for="Model!.PasswordHash" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.PasswordHash))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.PasswordSalt" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.PasswordSalt))"></label>
        <input asp-for="Model!.PasswordSalt" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.PasswordSalt))" name="@Model!.HtmlName(nameof(CustomerDataModel.PasswordSalt))" data-nt-value="@Model!.Model!.PasswordSalt"/>
        <span asp-validation-for="Model!.PasswordSalt" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.PasswordSalt))"></span>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(CustomerDataModel.ModifiedDate))"></label>
        <input asp-for="Model!.ModifiedDate" class="form-control nt-form-data" id="@Model!.HtmlId(nameof(CustomerDataModel.ModifiedDate))" name="@Model!.HtmlName(nameof(CustomerDataModel.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
        <span asp-validation-for="Model!.ModifiedDate" class="text-danger" data-valmsg-for="@Model!.HtmlName(nameof(CustomerDataModel.ModifiedDate))"></span>
    </div>
}
