@using AdventureWorksLT2019.Resx;
@using Framework.Mvc.Models;
@using AdventureWorksLT2019.Models;
@model MvcItemViewModel<SalesOrderHeaderDataModel.DefaultView>
@inject IUIStrings localizor;
@{
    var routeId = Model.Model?.SalesOrderID;
}
<div class="d-flex align-items-stretch col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 nt-listitem@(Model.IsCurrentItem ? " nt-created": "")" data-nt-route-id="@routeId">
    @await Html.PartialAsync("~/Views/SalesOrderHeader/_TileDetailsItem.cshtml", Model)
</div>
