@using AdventureWorksLT2019.Resx;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@model MvcItemViewModel<ProductDataModel.DefaultView>
@inject IUIStrings localizor;
@{
    var routeId = Model.Model?.ProductID;
}
<div class="d-flex align-items-stretch col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1 nt-listitem@(Model.IsCurrentItem ? " nt-created": "")" data-nt-route-id="@routeId">
    @await Html.PartialAsync("~/Views/Product/_TileDetailsItem.cshtml", Model)
</div>
