@using Framework.Models;
@using AdventureWorksLT2019.Models.Definitions;
@using AdventureWorksLT2019.MvcWebApp.Models;
@using AdventureWorksLT2019.Models;
@using AdventureWorksLT2019.Resx;
@model MvcItemViewModel<ProductCategoryDataModel.DefaultView>
@inject SelectListHelper selectListHelper;
@inject IUIStrings localizor;
@{
    var format_Please_Select = localizor.Get("Format_Please_Select");
}
@if (Model.Status != System.Net.HttpStatusCode.OK)
{
    <div class="row">
        <div class="text-danger">@Model.StatusMessage</div>
    </div>
}
else
{
    <input class="nt-hidden-modal-title" value="@Model!.Model!.Name" type="hidden" />
    <div class="form-group">
        <label asp-for="Model!.ProductCategoryID" class="control-label" for="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.ProductCategoryID))"></label>
        <input asp-for="Model!.ProductCategoryID" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.ProductCategoryID))" name="@Model!.HtmlName(nameof(ProductCategoryDataModel.DefaultView.ProductCategoryID))" data-nt-value="@Model!.Model!.ProductCategoryID"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ParentProductCategoryID" class="control-label" for="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.ParentProductCategoryID))"></label>    <div class="form-control" readonly>
        <a asp-area="" asp-controller="ProductCategory" asp-action="Dashboard" asp-route-productcategoryid="@Model!.Model!.ParentProductCategoryID">@Model!.Model!.Parent_Name</a>
    </div>
    </div>
    <div class="form-group">
        <label asp-for="Model!.Name" class="control-label" for="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.Name))"></label>
        <input asp-for="Model!.Name" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.Name))" name="@Model!.HtmlName(nameof(ProductCategoryDataModel.DefaultView.Name))" data-nt-value="@Model!.Model!.Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.rowguid" class="control-label" for="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.rowguid))"></label>
        <input asp-for="Model!.rowguid" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.rowguid))" name="@Model!.HtmlName(nameof(ProductCategoryDataModel.DefaultView.rowguid))" data-nt-value="@Model!.Model!.rowguid"/>
    </div>
    <div class="form-group">
        <label asp-for="Model!.ModifiedDate" class="control-label" for="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.ModifiedDate))"></label>
        <input asp-for="Model!.ModifiedDate" readonly class="form-control " id="@Model!.HtmlId(nameof(ProductCategoryDataModel.DefaultView.ModifiedDate))" name="@Model!.HtmlName(nameof(ProductCategoryDataModel.DefaultView.ModifiedDate))" data-nt-value="@Model!.Model!.ModifiedDate"/>
    </div>
}
