@using AdventureWorksLT2019.Resx;
@inject IUIStrings localizor;
<div class="modal fade" id="fullScreenLoading" aria-hidden="true" aria-labelledby="fullScreenLoadingLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-header" style="display:none">
                <h5 class="modal-title" id="fullScreenLoadingLabel">Loading</h5>
            </div>
            <div class="modal-body">
                <div class="loading">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
