@using AdventureWorksLT2019.Resx;
@*this partial view can be loaded only on page level, to attach proper event handlers*@
@*only one SimpleActionConfirmationDialog instance is allowed on the same page*@
@inject IUIStrings localizor;
<div class="modal fade" id="simpleActionConfirmationDialog" tabindex="-1" aria-labelledby="simpleActionConfirmationDialogLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body nt-modal-body">
            </div>
            <div class="modal-footer">
                <div class="btn-group d-flex justify-content-end">
                    <div>
                        <button type="button" class="btn btn-secondary btn-nt-action-cancel me-2" data-bs-dismiss="modal">
                            <i class="fa-solid fa-circle-xmark"></i><span class="ms-1 submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Close")</span>
                        </button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary btn-nt-action-confirm">
                            <i class="fa-solid fa-check-circle"></i><span class="ms-1 submit-text hidden-xs hidden-sm visible-md-inline visible-lg-inline">@localizor.Get("Confirm")</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {
    <script type="text/javascript" src="~/js/CrudActionDialog.js"></script>
}
*@
